.toolbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #535353;
    height: 56px;
}

.toolbar_logo a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
}